<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C (%F:%L) - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="ca.zhoozhoo.ar" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>